.wrapper {
  margin: 0;
  clear: both;
}

.wrapper:before {

  content: "";
  position: fixed;
  left:0;
  right:0;
  z-index: -1;
  display: block;
    background-image: url(http://images4.fanpop.com/image/photos/22100000/Colored-pencils-pencils-22186617-1600-1200.jpg);
    background-size:cover;
    height:800px;
}

.col-md-4 {
  width: 33%;
  position: relative;
  display: inline-block;
}

.head {
  top: 0;
  width: 100%;
  overflow: hidden;
  height: 100px;
  float: left;
  clear: both;
  margin-bottom: 100px;
}

.head p {
  color: black;
  text-shadow: 2px 2px 8px green;
  font-size: 50px;
  margin-top: 30px;
  margin-left: 15px;
  position: fixed;
}

.individualProductHeader {
  margin-top: 50px;
}

.ng-binding {
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.pContain {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.pContain img {
  align-items: center;
}

.mega-octicon {
  color: green;
}

.menuItems a {
  color: black;
  text-shadow: 2px 2px 8px green;
  text-decoration: none;
  font-size: 30px;
  margin-top: -80px;
  margin-left: 1100px;
}

.topNav {
  margin-top: 40px;
  position: fixed;
}

.menuItems a:hover {
  color:
}

.individualProductBlock {
  background-color: white;
  opacity: .85;
  border: 2px solid #ccc;
  text-align: center;
  width: 700px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding-top: 30px;
}

.addToCart {
  text-decoration: none;
  color: black;
}

.checkoutBar {
  background-color: white;
  opacity: .9;
  border: 2px solid #ccc;
  width: 1000px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  font-size: 25px;
  align-items: center;
}
