<div class="container">
  <div class="products">
    <article class="product" data-id="{{product.category_id}}">
        <div class="individualProductBlock">
          <a class="individualProductHeader" href="#/product/details/{{product.category_id}}">{{product.title}}</a>
          <a class="individualProductHeader" href="#/product/details/{{product.category_id}}" {{product.url}}>View on Etsy</a>
        </div>
      <div class="pContain">
          <img ng-src="{{product.image}}" alt="" />
          <div class="price">${{product.price}}</div>
          <div class="description">{{product.description}}</div>
          <div class="materials">{{product.materials}}</div>
          <div class="cart" ng-controller="CartController">
            <a href="#/myCart" class="addToCart" ng-click="addProduct(product)">Add to Cart</a>
          </div>
      </div>
    </article>
  </div>
</div>
