<div class="container">
  <input ng-model="search" class="searchBox" placeholder="Search">
    <div ng-repeat="product in products | filter:search">
    </div>
  <div class="products">
    <article class="product" ng-repeat="product in products | filter:search:strict" data-id="{{product.id}}">
      <div class="individualProductBlock">
          <a class="individualProductHeader" href="#/products/details/{{product.id}}">{{product.title}}</a>
        <div class="pContain">
            <img ng-src="{{product.imageMed}}" alt="" />
            <div class="price">${{product.price}}</div>
            <div class="cart" ng-controller="CartController">
              <a href="#/myCart" class="addToCart" ng-click="addProduct(product)">Add to Cart</a>
            </div>
        </div>
      </div>
    </article>
  </div>
</div>
